
.basket-wrapper{
    padding: 10px;

}

.all-baskets{
    display: flex;
    flex-direction: column;
}

.filter-wrapper{
    padding: 10px;
}
.image-basket-container{
    display: flex;
}
.basket-content{
    padding-left: 20px;
}
